<?xml version="1.0"?>
<launch>
	<node  name="demo_3d_nav" pkg="3d_nav_executive" type="putdown" output="screen" >
		<param name="arm_positions_filename" value="$(find 3d_nav_executive)/demo/arm_poses.txt" />
		<param name="goal_positions_filename" value="$(find 3d_nav_executive)/demo/goals.txt" />
	</node>
</launch>
